div{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
@media (width: 600px){
    div{
        background-color: red;
    }
}
@media (min-width: 400px) and (max-width: 600px){
    div{
        background-color: green;
    }
}