div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
.box1{
    position: static; /*In browser by default position is static.*//*z- index can't be used.*/
}
.box2{
    position: relative;
    top: 20px;
}
.box3{
    position: absolute; /*Change the position according to the parent element.For eg: In this body is parent element*/
    top:20px;
    left: 20px;
    z-index: 1;/*Positive z index will overlap other element.*/
}
.box4{
    position: fixed; /*It can be used for navbar and position relative to the browser.*/
    top: 0;
}
.box5{
    position: sticky;/*Position based on the user scroll position.It can also be used for navbar.*/
    top: 0px;
}