p{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
#h2{
    font-weight: 100;
}
#h3{
    font-weight: 900;
}
#one{
    font-size: 100px;
}
#two{
    line-height: 90px;
    text-transform: uppercase;
}