#box1{
    height: 100px;
    width: 200px;
    background-color: pink;
    font-size: 10px;
}
#box2{
    height: 50px;
    margin-left: 10%;
    font-size: 2em; /*em is the font size of the parent class.Here 2em is the double of 10px(parent) = 20px*/
    background-color: green;
    /* width: 5em; Looks relative font size of itself means 20 * 5=100px */
    width: 5rem; /*Looks relative fonts of html or root element, here html font size is 16px and I have given 5 rem, 
    so it will be 5 * 16=80px */
    /* height: 1vh; */
}
