.loader{
    height: 100px;
    width: 100px;
    /* background-color: aqua; */
    border: 20px solid #FE7743;
    border-top: 20px solid #91C8E4;
    border-radius: 50%;
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
}
@keyframes myAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}