

@media(max-width:300px){
    div{
        height: 100px;
        width: 100px;
        background-color: green;
    }
}
@media(min-width:300px) and (max-width:400px){
    div{
         height: 100px;
        width: 100px;
        background-color: pink;
    }
} 
@media(min-width:400px) and (max-width:600px){
    div{
         height: 100px;
        width: 100px;
        background-color: red;
    }
} 
@media(min-width:600px){
    div{
         height: 100px;
        width: 100px;
        background-color: blue;
    }
} 