.traffic-light{
    background-color: black;
    padding: 20px;
    height: 400px;
    width: 250px;
    border-radius: 20px;
    margin: 50px auto;
}
.one{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 20px auto;
}
.two{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 20px auto;
    margin-top: 30px;
}
.three{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 20px auto;
    margin-top: 30px;
}